:root {
  --primary-color: #29a8df;
  --secondary-color: #ff8eab;
}

body {
  text-align: center;
}

.navbar-nav {
  margin-right: 150px;
}

hr {
  width: 40%;
  margin: 25px auto;
}

h1 {
  margin-top: 10px;
  font-family: "playfair";
}

h2 {
  margin-bottom: 30px;
  font-family: "playfair";
  padding-top: 25px;
}

p {
  font-family: "poppins";
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 50px;
  margin-right: 50px;
}

.fa-twitter {
  color: var(--primary-color);
}

.fa-linkedin {
  color: #0a66c2;
}

.hero-section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 175px;
}

img {
  border-radius: 50%;
  margin-left: 50px;
}

.intro-section {
  width: 450px;
  text-align: left;
  height: auto;
  margin-left: 50px;
}

.intro-p {
  width: 300px;
  height: auto;
}

.skill-icons {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
}

.skills-heading {
  padding-bottom: 50px;
  margin-bottom: 0;
}

.fa-html5 {
  color: #ff3366;
}

.fa-js {
  color: #f0db4f;
}

.fa-bootstrap {
  color: #7952b3;
}

a {
  text-decoration: none;
}

.contact-link {
  background-color: var(--primary-color);
}

.btn {
  padding: 10px 15px 10px 15px;
  border: none;
}

.about-me {
  background-color: #ff8eab;
  margin-top: 150px;
  text-align: center;
}

.about-p {
  width: 50%;
  margin: 0 auto;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding-bottom: 25px;
}

.my-work {
  margin-top: 100px;
}
