/* font-family: 'Satoshi', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'General Sans', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

hr {
  width: 40%;
  margin: 25px auto;
}

h1,
h2 {
  font-family: 'General Sans', sans-serif;
}

h1 {
  font-size: 88px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 15px;
}

p,
a {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 14px;
  padding-bottom: 25px;
}

.hero-section {
  /* display: flex;
  justify-content: flex-start; */
  margin-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;
}

.page-top {
  margin-top: 80px;
}

.intro-section {
  text-align: left;
  height: auto;
  margin-left: 50px;
}

.intro-p {
  font-size: 22px;
  width: 75%;
}

.profile-pic {
  width: 380px;
  filter: grayscale(1);
}

.skill-icons {
  display: flex;
  margin-bottom: 100px;
  gap: 50px;
  margin-top: 25px;
  padding-top: 25px;
}

.skills-heading {
  padding-bottom: 25px;
  margin-bottom: 0;
  padding-top: 0;
}
.skill-icon {
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3s;
  -webkit-animation-iteration-count: 3s;
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.fa-html5 {
  color: #ff3366;
}

.fa-js {
  color: #f0db4f;
}

.fa-bootstrap {
  color: #7952b3;
}

a {
  text-decoration: none;
}

.contact-link {
  background-color: #29a8df;
}

.btn {
  padding: 10px 15px 10px 15px;
  border: none;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.5);
}

a.nav-link:hover,
a,
.fa-twitter {
  color: #29a8df;
}

a:hover {
  color: grey;
}

a:active,
.fa-github {
  color: #000000;
}

a:active {
  font-weight: bold;
}

.social-icons-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 25px;
  margin-top: 50px;
}

.fa-linkedin {
  color: #0a66c2;
}

/* About page */

.about-p {
  margin: 25px auto;
  padding-bottom: 25px;
}

.about-me {
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.profile-img {
  width: 250px;
  height: auto;
}

/* Work page */
.projext-container {
  margin-top: 75px;
}

.project-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

/* Contact page */

.contact-box {
  border: 3px solid #000000;
  margin: 25px;
  display: inline-block;
  padding: 25px;
}

.resume-link:hover {
  color: #ffffff;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
  .hero-section {
    margin: 80px auto;
  }

  .img-container {
    width: auto;
  }

  .intro-section {
    margin: auto;
    text-align: center;
  }

  .intro-p {
    font-size: 22px;
    width: initial;
  }

  .profile-pic {
    width: 100%;
  }

  .about-me {
    width: auto;
  }

  .skill-icons {
    justify-content: center;
  }
  .open-source {
    max-width: 75%;
    margin: 0 auto;
  }
}
